<h1>Users</h1>

<table border="1">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td>
        <%= link_to 'Delete', user, method: 'delete' %>
      </td>
    </tr>
  <% end -%>
</table>

<p><%= link_to 'New User', new_user_path %></p>
