// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-title {
  margin-left: 70px;
}
#assignment-cards{
  text-align: center;
}
.demo-card-square.mdl-card  {
  width: 256px;
  height: 256px;
  background: #F44235;
  margin: 10px;
  display: inline-block;
  color: #fff;
}
.mdl-card__title.mdl-card--expand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.demo-card-square h4 {
  color: #fff;
}

.mdl-card__actions a {
  color: #fff;
}
